<div class="task">
  <h1><%= @task.name %></h1>
  <p>
    <% if session[:e_mail] %>
    <a class="btn btn-sm btn-primary" href="/tasks/<%= @task.id %>/my_solution">Submit Solution</a>
    <% end %>
    <p>
      <a href="/tasks/<%= @task.id %>/solutions">Submitted solutions</a>
    </p>
  </p>
  <dl>
    <dt>Deadline:</dt>
    <dd><%= I18n.l @task.deadline %></dd>
    <dt>Points:</dt>
    <dd><%= @task.max_points %></dd>
  </dl>
  <% if @task.closed? %>
    <p class="closed">The deadline for submitting solutions has passed.</p>
  <% end %>
  <p><%= GitHub::Markup.render_s(GitHub::Markups::MARKUP_MARKDOWN, @task.description) %></p>
</div>
