<% @users.each do |user| %>
<div class="media col-lg-6">
  <div class="media-left">
      <img class="media-object img-rounded" width="120px" height="120px" src="<%= user.photo.url %>">
  </div>
  <div class="media-body">
    <h3 class="media-heading">
      <%= user.full_name %>
    </h3>
    <div>
      <label>About:</label>
      <div class="about">
        <%= user.about %>
      </div>
    </div>
    <div>
      <label>Github:</label>
      <a href="https://github.com/<%= user.github%>"><%= user.github %></a>
    </div>
  </div>
</div>
<% end %>
